################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowingIdeas/.vs/FlowingIdeas/FileContentIndex/f367dd99-ae84-4535-aa7c-31df767466a5.vsidx
/FlowingIdeas/.vs/FlowingIdeas/FileContentIndex/f6fe9448-609d-4e92-93f4-a8f9c0352390.vsidx
/FlowingIdeas/FlowingIdeas/FlowingIdeas - Backup.csproj.user
